body,html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to right, red, white,blue);
}

.body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
   
}

.p {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg,red,white, blue);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate
 {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.logo
{
    height:10%;
    width:10%;
    margin:0 0 0 20px;
}

.india
{
    height:10%;
    width:10%;
    float:right;
    margin:0 0 0 10px;

}
.shadow
{
    text-shadow: 3px 2px  coral;
    font-style:italic;
}

.decoration
{
  text-shadow: 3px 2px  coral;
}
img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    height: 70vh;
    width: 100vw;
    border: 1px solid purple;
    overflow: hidden;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    height: 70vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .mySlides img{
      height: 70vh;
      width: 100vw;
      overflow: hidden;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }




.navbar {
  overflow: hidden;
  background-color:black;
  width: 100vw;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  padding: 16px 16px;
  text-decoration: underline;
}



.dropdown 
{
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 16px 16px;
  background-color: inherit;
  font-style: italic;
  margin: 0;
  text-shadow: 3px 2px  coral;
  text-decoration:underline;

}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgoldenrodyellow;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover 
{
  background-color:tomato;
}

.dropdown:hover .dropdown-content {
  display: block;
}



  
  .flip-box {
    background-color:lightblue;
    border: 5px inset black;
    perspective: 1000px;
    overflow: hidden;
    margin: 0 0 0 100px;

  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
     float:center;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    
  }
  
  .flip-box-front {
    background-color: #bbb;
        color: black;
        
  }
  
  .flip-box-back {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

  
    color: black;
    transform: rotateY(180deg);

  }

  #outer-box
  {
      width: 80vw;
      margin-left:10vw;
      height: 400px;
      margin-top:50px;
  }


  .flip-box{
      width: 25%;
      margin-left: 5%;
      float: left;
      height: 300px;
  }

 #out
 {
     margin-left:20%!important;
     width: 21%;
    
 }

 #outer
 {
     margin-left:50%;
     margin-top: -20%;
     width:21%;
     
 }
 
.sh
{
text-shadow: 2px 1px gold;
}

.marq
{
    margin: 10px 0 0 0;
    font-size:30px;
    background-color:crimson;
    border:1px solid black;

}

.a
{
    border:2px inset black;
    
}



.flip-box1 {
 
  background-image: linear-gradient(to right,#A770EF,#CF8BF3,#FDB99B);
  border: 4px inset red;
  perspective: 1000px;
  overflow: hidden;
  margin: 0 0 0 10px;

}

.flip-box-inner1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
   float:center;
}

.flip-box1:hover .flip-box-inner1 {
  transform: rotateY(180deg);
}

.flip-box-front1, .flip-box-back1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

.flip-box-front1 {
  background-color:white;
      color: black;
}

.flip-box-back1 {
  background-color:white;


  color: black;
  transform: rotateY(180deg);

}

#outer-box1
{
    width: 80vw;
    margin-left:10vw;
    height: 400px;
    margin-top:50px;
}


.flip-box1{
    width: 25%;
    margin-left: 5%;
    float: left;
    height: 100px;
    margin-bottom:10px;
}


 
.logo1
{
    height:90%;
    width:90%;
    margin:0 0 0 20px;
}

.parallax
{
  
  background-image: url(../air\ 12.jpg);
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100vw;
  height: 100vh;
  margin:10px 0 0 0;
  
 
}

.im
{
   background-image: url(../air\ 13.png);
   min-height: 50vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
width:100vw;
height:30vh;
background-size:1000px 1000px;
}


.flip-box2{
 
 background-image: linear-gradient(to right,#A770EF,#CF8BF3,#FDB99B);
  border: 4px inset red;
  perspective: 1000px;
  overflow: hidden;
  margin: 0 0 0 100px;
  align:right;

}

.flip-box-inner2{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
   float:center;
}

.flip-box2:hover .flip-box-inner2 {
  transform: rotateY(180deg);
}

.flip-box-front2, .flip-box-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

.flip-box-front2 {
  background-color:white;
      color: black;
}

.flip-box-back2 {
  background-color:white;


  color: black;
  transform: rotateY(180deg);

}

#outer-box2
{
    width: 80vw;
    margin-left:10vw;
    height: 400px;
    margin-top:50px;
}


.flip-box2{
    width: 25%;
    margin-left: 5%;
    float: left;
    height: 100px;
    margin-bottom:10px;
}


 
.logo2
{
    height:14vh;
    width:10vw;
    margin:0 0 0 20px;
}

.l
{
   text-decoration:underline;
   font-size:20px;
   font-weight:bolder;

}

.logo3
{
  height:100%;
  width:100%;
}


.twitter
{
  height:100%;
  width: 30%;
  float:left;
}

.facebook
{
  height:100%;
  width:30%;
  float:right;
}
 .insta
 {
   height:100%;
  width:40%;
 }




 .glow {
  font-size: 40px;
  color:red;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow  1s ease-in-out infinite alternate;
  position: absolute;
  left:50%;
  transform: translate(-50%);
  
}

@-webkit-keyframes
 glow {
  from {
    text-shadow: 0 0 20px red, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.fg
{
  font-size:20px;
  text-shadow:3px 1px gold;
text-align:center
}

